.franchisee {

  .franchisee__filter {
    .subContent__section {
      padding-bottom: 0;
    }
  }
  .filter-select {
    select {
      border: 1px solid #5a5553;
      height: 35px;
      padding:0 30px 0 10px;
      font-size: 12px;
      background: url('../images/i-filter.png') no-repeat calc(100% - 10px) center;
    }
  }

  .franchisee__item {
    display: flex;
    align-items: flex-end;
    width: 100%;

    .actions {
      margin-left: 20px;
      width: 90px;
      flex: none;

      a {
        display: block;
        width: 100%;
        line-height: 32px;
        border: 1px solid $blue;
        border-radius: 7px;
        text-align: center;
        font-size: 12px;
        color: $blue;
        transition: all .3s;
        &:hover {
          background:$blue;
          color:#fff;
        }

        &.gray {
          color: #5a5553;
          border-color:#5a5553;
          &:hover {
            background:#5a5553;
            color:#fff;
          }
        }
      }

    }
  }
  .franchisee__info {
    flex: 1;
    .spot {
      background: url('../images/i-spot.png') no-repeat left center;
      background-size: auto 10px;
      font-size: 12px;
      color:#5a5553;
      font-weight: 300;
      padding-left: 12px;
    }
    .address {
      margin-top: 5px;
      padding-top: 15px;
      border-top: $border;
      font-size: 12px;
      color:#5a5553;
      font-weight: 300;
    }
    h3 {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 300;
      strong {
        font-weight: 600;
      }

      span {
        font-size: 10px;
        vertical-align: baseline;
        color:$blue;
        font-weight: 300;
      }
    }
  }
}

.franchiseeDetail {

  .franchiseeDetail__number {
    background:#383433;
    color:#fff;
  }
  .franchiseeDetail__img-item {
    background:#d9d9d9;
    text-align: center;

    img {
      display: inline;
    }
  }
  .slick-arrow {
    @include text-indent;
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url('../images/i-arrow-right-white.png') $border-color no-repeat center;
    background-size: auto 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &.slick-prev {
      left: 10px;
      right: auto;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .feed__slide-img {
    text-align: center;
    img {
      display: inline;
    }
  }
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    z-index: 5;
    li {
      margin:0 3px;
    }
    button {
      @include text-indent;
      border: 1px solid $border-color;
      width: 10px;
      height: 10px;
      background:#efefef;
      border-radius: 50%;
      transition: all .3s;
    }
    .slick-active button {
      background: $blue;
    }
  }

  .franchiseeDetail-box {

  }

  .franchisee__tabs {
    .subContent__section {
      padding:10px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button {
      padding:0 10px;
      height: 30px;
      border: 1px solid #5a5553;;
      border-radius: 5px;
      font-size: 10px;
      margin:0 4px;
      transition: all .3s;
      &.active {
        border-color:$blue;
        color:$blue;
      }
    }
  }

  .franchisee__price {
    width: 330px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom :$border;
    &:last-child {
      border: none;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  .franchisee__price-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 12px;
      color:$blue;
      padding-left: 15px;
      background: url('../images/i-spot.png') no-repeat left center;
      background-size: auto 10px;
    }
    span {
      font-size: 10px;
    }
  }

  .franchisee__price-table {
    th,
    td {
      height: 30px;
      font-size: 12px;
      padding:5px 10px !important;
      border-bottom: 1px solid $green;
      border-right: 1px solid $green;

      &:last-child {
        border-right: none;
      }
    }
  }


  .edit {
    font-size: 12px;
    line-height: 18px;
  }
  .map {
    margin-top: 15px;
    width:100%;
    height: 300px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .infoTable {
    th, td {
      padding: 0;
    }
    th {
    }
    td {
      padding-left: 25px;
    }
  }
}
.franchiseeDetail__header-info {
  flex: 1;
  a {
    color:$blue;
    padding-left: 18px;
    font-size: 12px;
    display:inline-block;
    background: url('../images/star.png') no-repeat left center;
    background-size: auto 12px;
  }
  h2 {
    margin-top: 10px;
    font-size: 16px;
    color:#fff;
    font-weight: 300;
    strong {
      font-weight: 600;
    }

    span {
      font-weight: 300;
      font-size: 10px;
    }
  }
  .address {
    color:#fff;
    font-size: 10px;
    margin-top: 10px;
    font-weight :300;
  }
}
.franchiseeDetail__header {
  background:#383433;
  padding: 35px 50px;
  display: flex;
  align-items: flex-start;
  .actions {
    width: 90px;
    margin-left: 10px;

    .btn {
      display: block;
      line-height: 32px;
      border-radius: 7px;
      font-size: 12px;
      color:#fff;
      border: 1px solid #fff;
      text-align: center;
      transition: all .3s;
      &:hover {
        background:$blue;
        color:#fff;
        border-color:$blue;
      }
      img {
        height: 15px;
        vertical-align: sub;
        margin-left: 3px;
      }
    }
    .btn--rs {
      border-color:$green;
      color: $green;
      &:hover {
        background:$green;
        color:#fff;
        border-color:$green;
      }
    }
  }
}
