.container {
}
.content {
  width: 903px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  .content__left {
    width: 76px;
    flex: none;
  }
  .content__main {
    flex: 1;
    margin:0 auto;
    background:#fff;
    border-radius: 7px;
  }
}

.content.account {
  padding-top: 40px;
  .content__main {
    max-width: 628px;
    margin:0 auto;
  }
}