.header {
  width: 100%;
  background: $bgColor;
  z-index: 1000;
  .wrap {
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255,255,255,.5);
    position: relative;
  }
  .header__links {
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    a {
      padding: 0 10px;
      line-height: 1em;
      border-right: 1px solid $green;
      color: $white;
      font-size: 12px;
      &:nth-child(3) {
        border-right: 0;
      }
    }
    .header__menu {
      width: 20px;
      height: 20px;
      background: url('../images/i-hamburger-white.png') no-repeat center;
      background-size: 20px auto;
    }
  }
}
