.btnActions {
  width: 90px;
  margin-left: 10px;
  flex: none;

  .btn {
    display: block;
    line-height: 32px;
    border-radius: 7px;
    font-size: 12px;
    color:#fff;
    border: 1px solid #fff;
    text-align: center;
    img {
      height: 15px;
      vertical-align: sub;
      margin-left: 3px;
    }

    span.league {
      background: url('../images/i-league.png') no-repeat right center;
      background-size: auto 15px;
      display: inline-block;
      padding-right: 23px;
    }

    &.btn-disabled {
      border-color:rgba(255,255,255,.5) !important;
      color:rgba(255,255,255,.5) !important;
      &:hover {
        border-color:rgba(255,255,255,.5) !important;
        color:rgba(255,255,255,.5) !important;
        background: none !important;
      }
    }
    &.btn-white {
      border: $border;
      color:#5A5553;;
    }
    &.btn-white2 {
      border: 1px solid #fff !important;
      color:#fff !important;
      &:hover {
        background:#fff !important;
        color:#5A5553 !important;

        span.league {
          background: url('../images/gnb-i5.png') no-repeat right center;
          background-size: auto 15px;
        }
      }
    }

    &.btn-green {
      color: $green;
    }
  }
  .btn--rs {
    border-color:$green;
    color: $green;
  }


}