.btnbox {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    font-size: 12px;
    border-radius: 3em;
    height: 35px;
    line-height: 35px;
    display: block;
    width: 190px;
    transition: all .3s;
    text-align: center;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    &.btn--small {
      font-size: 10px !important;
      max-width: 65px;
      width: 100% !important;
      line-height: 22px !important;
      height: 25px !important;
    }

    &.btn-blue {
      background:$blue;
      color:#fff;
      &:hover {
        background:$green;
      }
    }
    &.btn-blue2 {
      background:#fff !important;
      border: 1px solid $blue !important;
      color:$blue !important;
      &:hover {
        background:$blue !important;
        color:#fff !important;
      }
    }
    &.btn-black {
      border:1px solid #5a5553;
      color:#5a5553;;
      &:hover {
        border-color:$green;
      }
    }
    &.btn-green {
      background:#fff;
      color:#5A5553;
      border: 1px solid $green;
      &:hover {
        background:$green;
        color:#fff;
      }
    }
    &.btn-white {
      color:#333;
      border: 1px solid $green;
      &:hover {
        background:$green;
        color:#fff;
      }
    }
    &.btn-white2 {
      color:#333;
      border: 1px solid $border-color;
    }
  }
}

.default-btn {
  width: 65px;
  line-height: 24px;
  height: 26px;
  font-size: 12px;
  border: 1px solid #707070;
  border-radius: 2em;
  text-align: center;
  color:#707070;
  transition: all .3s;
  &:hover {
    background:#5a5553;
    color:#fff;
  }
}