.gnb {
  margin-bottom: 20px;
  .wrap {
    padding: 0;
    display: flex;
  }
  a {
    line-height: 35px;
  }

  .gnb__col {
    display: flex;
    & > a {
      padding:0 20px;
      font-size: 10px;
      color:#24e5ff;
      background: url('../images/gnb-arrow.png') no-repeat right 16px;
      background-size: auto 10px;
      height: 35px;

    }
    &.show {
      .gnb__depth {
        display: flex;
      }
      & > a {
        background: url('../images/gnb-arrow-back.png') no-repeat right 16px;
        background-size: auto 10px;
      }
    }
  }
  .gnb__depth {
    display: none;
    a {
      color:#fff;
      font-size: 10px;
      padding:0 20px;
      position: relative;
      &.active {
        span {
          position: relative;
        }
        span:after {
          position: absolute;
          left: -2px;
          bottom: -2px;
          opacity: .5;
          width: calc(100% + 4px);
          height: 8px;
          background: #24e5ff;
          content: '';
          z-index: 1;
        }
      }
      &:last-child:after {
        display: none;
      }
      &:after {
        content:'';
        display: block;
        width: 1px;
        height: 10px;
        background:#fff;
        position: absolute;
        right: 0;top: 16px;
      }
    }
  }
}